<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="layout/header"> 
</head>

<body>
	<h1 th:text="${encabezado}" align="center" class="text-primary"></h1>

	<form th:action="@{/usuario/form}" th:object="${usuario}" method="post">
		<table align="center">
			<tr>
				<td>Nombre</td>
				<td><input type="text" th:field="*{nombre}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('nombre')}"><small th:errors="*{nombre}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td>Apellido</td>
				<td><input type="text" th:field="*{apellido}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('apellido')}"><small th:errors="*{apellido}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" th:field="*{email}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('email')}"><small th:errors="*{email}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td>Editorial</td>
				<td><input type="date" th:field="*{fechaLibroPrestado}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('fechaLibroPrestado')}"><small th:errors="*{fechaLibroPrestado}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td>Nº Ejemplares prestados</td>
				<td><input type="text" th:field="*{cantidadEjemplaresPrestados}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('cantidadEjemplaresPrestados')}"><small th:errors="*{cantidadEjemplaresPrestados}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td></td>
				<td align="center"><input type="submit" value="Guardar usuario"></td>
			</tr>
			<tr>
				<td></td>
				<td><br></td>
			</tr>
			<tr>
				<td></td>
				<td><a th:href="@{/usuario/listar}"><img th:src="@{/images/atras.png}" alt="Atras" width="75px" height="75px"></a></td>
			</tr>
		</table>
		<input type="hidden" th:field="*{id}" />
	</form>
	<footer th:include="home :: scriptboot"></footer>
</body>

</html>