<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="layout/header"> 
</head>

<body>
	<h1 th:text="${encabezado}" align="center" class="text-primary"></h1>

	<form th:action="@{/libro/form}" th:object="${libro}" method="post">
		<table align="center">
			<tr>
				<td>Titulo</td>
				<td><input type="text" th:field="*{titulo}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('titulo')}"><small th:errors="*{titulo}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td>Autor</td>
				<td><input type="text" th:field="*{autor}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('autor')}"><small th:errors="*{autor}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td>Nº de Ejemplares</td>
				<td><input type="text" th:field="*{cantidadEjemplares}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('cantidadEjemplares')}"><small th:errors="*{cantidadEjemplares}"
						class="form-text text-danger"></small></td>
			</tr>
			<tr>
				<td>Editorial</td>
				<td><input type="text" th:field="*{editorial}" class="form-control"></td>
				<td th:if="${#fields.hasErrors('editorial')}"><small th:errors="*{editorial}"
						class="form-text text-danger"></small></td>

			</tr>
			<tr>
				<td></td>
				<td align="center"><input type="submit" value="Guardar Libro"></td>
			</tr>
			<tr>
				<td></td>
				<td><br></td>
			</tr>
			<tr>
				<td></td>
				<td><a th:href="@{/libro/listar}"><img th:src="@{/images/atras.png}" alt="Atras" width="75px" height="75px"></a></td>
			</tr>
		</table>
		<input type="hidden" th:field="*{id}" />
	</form>
	<footer th:include="home :: scriptboot"></footer>
</body>

</html>